<div class="login-wrap">
    <div class="logo">
        <img src="rest/assets/images/logo.svg" alt="Carco">
    </div>
    <form class="form-horizontal" name="resetPassword">
        <div class="form-group">
            <h2 class="mb-0">Reset Password</h2>
        </div>
        <div class="form-group" ng-class="{ 'has-error': resetPassword.password.$error.required && resetPassword.password.$touched,'has-warning':resetPassword.password.$error.minlength, 'has-success':resetPassword.password.$valid}">
            <label for="password" class="control-label">Password</label>
            <input autocomplete="off" type="password" name="password" id="password" class="form-control" ng-model="password" placeholder="Password"
                ng-minlength="6" required />
            <div ng-if="resetPassword.password.$touched || signupSubmitted">
                <span ng-show="resetPassword.password.$error.required" class="help-block">Password is required</span>
                <span ng-show="resetPassword.password.$error.minlength" class="help-block">Minimum 6 character</span>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error': resetPassword.confirm_password.$error.matchPassword || resetPassword.password.$error.required && resetPassword.confirm_password.$touched, 'has-success':resetPassword.confirm_password.$valid}">
            <label for="confirm_password" class="control-label">Confirm Password</label>
            <input autocomplete="off" type="password" name="confirm_password" id="confirm_password" class="form-control" ng-model="confirm_password"
                placeholder="Confirm password" match-password="password" required/>
            <div ng-if="resetPassword.confirm_password.$touched || signupSubmitted">
                <span ng-show="resetPassword.confirm_password.$error.required" class="help-block">Confirm password is required</span>
                <span ng-show="resetPassword.confirm_password.$error.matchPassword && !resetPassword.confirm_password.$error.required" class="help-block">Confirm password didn't match</span>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" ng-click="onSubmit()" ng-disabled="resetPassword.$invalid" class="btn btn-secondary w-100">Submit</button>       
            </div>
        </div>

    </form>
</div>


<!--<div class='container well'>
    <form name="resetPassword">
            <h2>RESET PASSWORD</h2>
            <br/>
            <div class="form-group" ng-class="{ 'has-error': resetPassword.password.$error.required && resetPassword.password.$touched,'has-warning':resetPassword.password.$error.minlength, 'has-success':resetPassword.password.$valid}">
                <input autocomplete="off"
                       type="password" 
                       name="password"
                       id="password"
                       class="form-control" 
                       ng-class="{'form-control-danger':resetPassword.password.$error.minlength || resetPassword.password.$error.required && resetPassword.password.$touched,'form-control-warning':resetPassword.password.$error.minlength, 'form-control-success':resetPassword.password.$valid}" 
                       ng-model="password" 
                       placeholder="Password" 
                       ng-minlength="6"
                       required />
                <div ng-if="resetPassword.password.$touched || signupSubmitted">
                    <span ng-show="resetPassword.password.$error.required" class="form-control-feedback">Password is required</span>
                    <span ng-show="resetPassword.password.$error.minlength" class="form-control-feedback">Minimum 6 character</span>
                </div>
            </div>

            <div class="form-group" ng-class="{ 'has-error': resetPassword.confirm_password.$error.matchPassword || resetPassword.password.$error.required && resetPassword.confirm_password.$touched, 'has-success':resetPassword.confirm_password.$valid}">
                <input autocomplete="off"
                       type="password" 
                       name="confirm_password"
                       id="confirm_password"
                       class="form-control"  
                       ng-class="{'form-control-danger':resetPassword.confirm_password.$error.minlength || resetPassword.confirm_password.$error.required && resetPassword.confirm_password.$touched, 'form-control-success':resetPassword.confirm_password.$valid}"     
                       ng-model="confirm_password" 
                       placeholder="Confirm password" 
                       match-password="password" 
                       required/>
                <div ng-if="resetPassword.confirm_password.$touched || signupSubmitted">
                    <span ng-show="resetPassword.confirm_password.$error.required" class="form-control-feedback">Confirm password is required</span>
                    <span ng-show="resetPassword.confirm_password.$error.matchPassword && !resetPassword.confirm_password.$error.required" class="form-control-feedback">Confirm password didn't match</span>
                </div>
            </div>

            <div class="form-actions">
                <button type="submit" ng-click="onSubmit()" ng-disabled="resetPassword.$invalid || vm.dataLoading" class="btn btn-primary">Submit</button>
                <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
                />
                <button type="submit" ng-click="cancel()" class="btn btn-primary">Cancel</button>
            </div>
        </form>
</div> -->