<!--<div class="client-main-page">-->
<!-- <header-content></header-content> -->

<div>
    <!-- <left-panel></left-panel> -->
    <!-- <h1>hello cisive</h1> -->
    <!-- <div class="header-nav-left">
        <ol class="breadcrumb breadcrumb-arrow">
            <li>
                <a ui-sref-active="active" ui-sref="home.insuredInformation">Insured Info Form</a>
            </li>
        </ol>
    </div> -->
<!-- 
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 tabs-level1">
        <div class="ui-selectee">
            <nav class="column">
                <uib-tabset active="activeTabIndex">
                    <uib-tab active="activeTabIndex==$index" ng-repeat="step in steps" heading="{{step.name}}" ui-sref="{{step.route}}"></uib-tab> 
                </uib-tabset>
            </nav>
        </div>
    </div> -->

    <wizard-app></wizard-app>
    <div ui-view></div>
</div>

<!--</div>-->